
<div>
    <!-- <button type="button" class="btn btn-primary" (click)="addUser()" style="float: right;">New Project</button> -->
  <div class="card-body">
    <table class="table table-bordered">
      <tr>
        <!-- <th>#</th> -->
        <th>Name</th>
        <th>Email</th>
        <th>Role</th>
        <th>Actions</th>
      </tr>
      <tr *ngFor="let user of users">
        <!-- <td>{{project._id}}</td> -->
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.role_name[0]?.name}}</td>
        <td>
            <!-- /users/add/ -->
            <a routerLink="adduser/{{user._id}}">Edit</a>&nbsp;
          <a href="javascript:;" (click)="deleteUser($event)" data-id="{{user._id}}">Delete</a>
          <!-- <a routerLink="/{{commonFunctions.getAccessCodePrefix()}}/projects/edit/{{project._id}}">Edit</a>&nbsp;
              <a href="javascript:;" (click)="deleteProject($event)" data-id="{{project._id}}">Delete</a> -->
        </td>
      </tr>
    </table>
  </div>


</div>
