<div class="container">
  <div class="row">
    <div class="col-md-3">
      {{mode}} task<br>
      <a routerLink="/task">List Tasks</a>
    </div>
    <div class="col-md-6">
      
      <form [formGroup]="createTask" name="createTask" (ngSubmit)="onSubmit()">
        <mat-form-field class="field-full-width">
          <input matInput placeholder="task_name" formControlName="task_name" required #task_name>
        </mat-form-field>
        <br>
        <mat-form-field class="field-full-width">
          <mat-select formControlName="of_project" #of_project required placeholder="of_project">
            <mat-option *ngFor="let project of projects" [value]="project._id">{{project.title}}</mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field class="field-full-width">
          <mat-select formControlName="users_assigned" #users_assigned
            placeholder="users_assigned" required multiple>
            <mat-option *ngFor="let user of users" [value]="user._id">{{user.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <button type="submit" [disabled]="!createTask.valid" mat-raised-button color="primary">Add Task
        </button>
      </form>
      
    </div>
    <div class="col-md-3">
      
    </div>
  </div>
</div>
