<div class="container">
  <div class="row">
    <div class="col-md-3">
      asdf
    </div>
    <div class="col-md-6">
      asdf
      <form [formGroup]="createTask">
        <mat-form-field class="field-full-width">
          <input matInput placeholder="task_name" formControlName="task_name" #task_name [(ngModel)]="task_name">
        </mat-form-field>

        <mat-form-field class="field-full-width">
          <mat-select [(ngModel)]="of_project" formControlName="of_project" #of_project placeholder="of_project"
            multiple>
            <mat-option *ngFor="let project of projects" [value]="project.title">{{project.title}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="field-full-width">
          <mat-select [(ngModel)]="users_assigned" formControlName="users_assigned" #users_assigned
            placeholder="users_assigned" multiple>
            <mat-option *ngFor="let user of users" [value]="user.name">{{user.name}}</mat-option>
          </mat-select>
        </mat-form-field>

        <button type="submit" (click)="addTask()" mat-raised-button color="primary">Add Project
        </button>
      </form>
      asdf
    </div>
    <div class="col-md-3">
      zxcv
    </div>
  </div>
</div>
