<div class="container">
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
      <form [formGroup]="createBug" name="createBug" (ngSubmit)="onSubmit()">
        <mat-form-field> 
          <input matInput placeholder="bug_name" [value]="bug_name" formControlName="bug_name" [(ngModel)]="bug_name" #bug_name>
        </mat-form-field>

        <mat-form-field class="field-full-width">
          <mat-select [(ngModel)]="of_project" [value]="of_project" formControlName="of_project" #of_project placeholder="of_project" multiple>
            <mat-option *ngFor="let project of projects" [value]="project.title">{{project.title}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="field-full-width">
          <mat-select [(ngModel)]="users_assigned" [value]="users_assigned" formControlName="users_assigned" #users_assigned
            placeholder="users_assigned" multiple>
            <mat-option *ngFor="let user of users" [value]="user.name">{{user.name}}</mat-option>
          </mat-select>
        </mat-form-field>

        <button type="submit" mat-raised-button color="primary">Add Bug
        </button>
      </form>
    </div>
    <div class="col-md-3">
    </div>
  </div>
</div>
