<!-- purpose,description,start_date,start_time,end_date,end_time,invitees,organizer -->

<div>
    <button type="button" class="btn btn-primary" (click)="addProject()" style="float: right;">New Project</button>
  <div class="card-body">
    <table class="table table-bordered">
      <tr>
        <!-- <th>#</th> -->
        <th>Title</th>
        <th>Description</th>
        <th>Users</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Actions</th>
      </tr>
      <tr *ngFor="let project of projects; let ind = index">
        <!-- <td>{{project._id}}</td> -->
        <td>{{project.title}}</td>
        <td>{{project.desc}}</td>
        <td>{{project.multiple_users}}</td>
        <td>{{project.start_date}}</td>
        <td>{{project.end_date}}</td>
        <td>
            <a routerLink="/projects/add/{{project._id}}">Edit</a>&nbsp;
          <button mat-button color="warn" (click)="deleteProject($event)">Delete</button>
          <!-- <a routerLink="/{{commonFunctions.getAccessCodePrefix()}}/projects/edit/{{project._id}}">Edit</a>&nbsp;
              <a href="javascript:;" (click)="deleteProject($event)" data-id="{{project._id}}">Delete</a> -->
        </td>
      </tr>
    </table>
  </div>


</div>
