
<div>
    <!-- <button type="button" class="btn btn-primary" (click)="addProject()" style="float: right;">New Project</button> -->
  <div class="card-body">
    <table class="table table-bordered">
      <tr>
        <!-- <th>#</th> -->
        <th>Title</th>
        <th>Description</th>
        <th>Users</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Actions</th>
      </tr>
      <tr *ngFor="let project of projects; let i = multiple_users">
        <!-- <td>{{project._id}}</td> -->
        <td>{{project.title}}</td>
        <td>{{project.desc}}</td>
        <td>{{project.multiple_users[0]?.name}}</td>
        <td>{{project.start_date}}</td>
        <td>{{project.end_date}}</td>
        <td>
            <a routerLink="addproject/{{project._id}}">Edit</a>&nbsp;
          <a href="javascript:;" (click)="deleteProject($event)" data-id="{{project._id}}">Delete</a>
          <!-- <a routerLink="/{{commonFunctions.getAccessCodePrefix()}}/projects/edit/{{project._id}}">Edit</a>&nbsp;
              <a href="javascript:;" (click)="deleteProject($event)" data-id="{{project._id}}">Delete</a> -->
        </td>
      </tr>
    </table>
  </div>


</div>
